@using Bookish_cs.Controllers;
@model BookPageViewModel
@{
    ViewData["Title"] = "Book Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Book page</p>
    <ul>
        <li><strong>book title:</strong> @Model.Title</li>
        @foreach (var authorName in Model.AuthorNames)
        {
            <li><strong>Author:</strong> @authorName</li>
        }
        <li><strong>ISBN:</strong> @Model.ISBN</li>
        <li><strong>Availble Copies: </strong>@Model.AvailbleCopies / @Model.Quantity</li>
    </ul>
    @if (Model.Bookings.Any())
    {
        <p>Bookings</p>
        <ul>
            @foreach (var booking in Model.Bookings)
            {
                <li><strong>Member:</strong> @booking.PersonName</li>
                <li><strong>Checkout:</strong> @booking.Checkout</li>
                <li><strong>Due:</strong> @booking.Due</li>
                if (booking.OverdueDays > 0)
                {
                    <li><strong>Overdue:</strong> @booking.OverdueDays days</li>
                }
            }
        </ul>
    }
</div>