@using Bookish_cs.Controllers;
@model BookViewModel
@{
    ViewData["Title"] = "Book Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Book page</p>
    <ul>
        <li><strong>book title:</strong> @Model.Book.Title</li>
        @foreach (var author in Model.Book.Authors)
        {
            <li><strong>Author:</strong> @author.Name</li>
        }
        <li><strong>ISBN:</strong> @Model.Book.ISBN</li>
        <li><strong>Quantity:</strong> @Model.Book.Quantity</li>
    </ul>
    <p>Bookings</p>
    <ul>
        @foreach (var booking in Model.Book.Bookings)
        {
            if (booking.Returned is null)
            {
                <li><strong>Member:</strong> @booking.Person.Name</li>
                <li><strong>Checkout:</strong> @booking.Checkout</li>
                <li><strong>Due:</strong> @booking.Due</li>
            }
        }
    </ul>
</div>